<aside class="container">
  <h2 class="title">New</h2>
  <h3 class="sub-title">Hydrogen VS Electric Cars</h3>
  <p class="text">Will hydrogen-fueled cars ever catch up to EVs?</p>
  <hr />
  <h3 class="sub-title">The Downsides of AI Artistry</h3>
  <p class="text">
    What are the possible adverse effects of on-demand AI image generation?
  </p>
  <hr />
  <h3 class="sub-title">Is VC Funding Drying Up?</h3>
  <p class="text">
    Private funding by VC firms is down 50% YOY. We take a look at what that
    means.
  </p>
</aside>
