<nav class="navbar">
  <a href="#"><img src="./assets/images/logo.svg" alt="Brand logo" /></a>
  <div class="desktop-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><a href="#">Categories</a></li>
    </ul>
  </div>

  <button class="hamburger" (click)="handleMenu()">
    <img src="./assets/images/icon-menu.svg" alt="icon button to open menu" />
  </button>
  <div class="off-screen-menu" #menu>
    <ul>
      <li>
        <button class="close-btn" (click)="handleMenu()">
          <img
            src="./assets/images/icon-menu-close.svg"
            alt="icon button to close menu"
          />
        </button>
      </li>
      <li><a href="#" (click)="handleMenu()">Home</a></li>
      <li><a href="#" (click)="handleMenu()">New</a></li>
      <li><a href="#" (click)="handleMenu()">Popular</a></li>
      <li><a href="#" (click)="handleMenu()">Trending</a></li>
      <li><a href="#" (click)="handleMenu()">Categories</a></li>
    </ul>
  </div>
</nav>
