@use "../styles.scss" as s;

.navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  a {
    &:focus-within {
      outline-color: s.$SoftRed;
    }
  }
  .desktop-menu {
    display: none;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      margin-top: 2rem;
      li {
        a {
          color: s.$DarkGrayishBlue;
          text-decoration: none;
          transition: color 0.2s;
          &:hover {
            color: s.$SoftRed;
          }
          &:focus-within {
            color: s.$SoftRed;
            outline: none;
          }
        }
      }
    }
    @media (min-width: s.$MinWidth) {
      display: block;
      align-self: center;
    }
  }
  a,
  .hamburger {
    margin: 0 1rem;
    margin-top: 2rem;
    background-color: transparent;
    border: none;
  }
  .hamburger {
    @media (min-width: s.$MinWidth) {
      display: none;
    }
  }
  .off-screen-menu {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: transparent;
    transform: translateX(200%);
    transition: background-color 0.3s ease-in-out;
    @media (min-width: s.$MinWidth) {
      display: none;
    }
    ul {
      margin: 0;
      list-style-type: none;
      padding: 1.5rem;
      width: 60%;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      transform: translateX(200%);
      transition: transform 0.6s ease-in-out;
      li {
        &:has(> button.close-btn) {
          align-self: end;
        }
        .close-btn {
          background-color: transparent;
          border: none;
          width: fit-content;
          margin-top: 0.5rem;
          margin-bottom: 6rem;
        }
        a {
          font-size: 1.3rem;
          font-weight: 400;
          color: s.$VeryDarkBlue;
          text-decoration: none;
          margin: 0;
        }
      }
    }
  }
  .open {
    background-color: rgba($color: s.$VeryDarkBlue, $alpha: 0.5);
    transform: translateX(0%);
    ul {
      transform: translateX(0%);
    }
  }
}
