<div class="container">
  <div class="grid-container">
    <img
      src="./assets/images/image-retro-pcs.jpg"
      alt="Retro PC image"
      width="100%"
      height="auto"
    />
    <h2 class="title">01</h2>
    <h3 class="sub-title">Reviving Retro PCs</h3>
    <p class="text">What happens when old PCs are given modern upgrades?</p>
  </div>
  <div class="grid-container">
    <img
      src="./assets/images/image-top-laptops.jpg"
      alt="PC Keyboard image"
      width="100%"
      height="auto"
    />
    <h2 class="title">02</h2>
    <h3 class="sub-title">Top 10 Laptops of 2022</h3>
    <p class="text">Our best picks for various needs and budgets.</p>
  </div>
  <div class="grid-container">
    <img
      src="./assets/images/image-gaming-growth.jpg"
      alt="Controller flowing image"
      width="100%"
      height="auto"
    />
    <h2 class="title">03</h2>
    <h3 class="sub-title">The Grownth of Gaming</h3>
    <p class="text">How the pandemic has sparked fresh opportunities.</p>
  </div>
</div>
